<h1>Edit Entry</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wiki entries</p>
    <ul>
      <li>Search Blocipedia in case an article already exists on the subject</li>
      <li>Practice editing already existing articles</li>
      <li>Gather sources</li>
      <li>Must have a unique title.</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { wikipage: @wikipage } %>
  </div>
</div>
