<h1>Wiki Entries</h1>



<div class="row">
  <div class="col-md-8"
    <% Wikipage.all.each do |wikipage| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wikipage.title.split.map(&:capitalize).join(' '), wikipage %>
          </h4>
          <%= content_tag :span, 'Public', class: 'label label-primary' if wikipage.public? %>
          <% end %>
        </div>
      </div>
    </div>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Create A New Wiki", new_wikipage_path, class: 'btn btn-lg btn-success center-block' %>
  </div>
</div>
</div>
