
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">About</li>
</ol>



<h3>About Wiki Iteration</h3>
<p> A basic wiki made scratch in rails.</p>
<p> Made during bloc.io</p>

<h3>About Carolyn</h3>
<p>...</p>
