<h1><%= @wikipage.title.capitalize %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wikipost.body) %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_wikipage_path(@wikipage), class: 'btn btn-success' %>
    <%= link_to "Delete Entry", @wikipage, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this entry?'} %>

  </div>
</div>
